GATE_CONFIG_SECRET=<rails config>
GATE_OAUTH_CLIENT_ID=<client ID>
GATE_OAUTH_CLIENT_SECRET=<client secret>
GATE_DB_HOST=db host
GATE_DB_NAME=gate_production
GATE_DB_PASSWORD=db password
GATE_DB_USER=gate_prod
GATE_DB_PORT=3306
CACHE_HOST=<redis server addres>
CACHE_PORT=6379
GATE_EMAIL_DOMAIN=
GATE_OAUTH_API_KEY=
GATE_OAUTH_CLIENT_KEY=
GATE_SERVER_URL=https://gate.gojek.co.id
GATE_OAUTH_CLIENT_SECRET=<oauth secret>
GATE_HOSTED_DOMAINS="hosted domains"
RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=true
GATE_URL="https://<enter url/"
GATE_ORGANIZATION_NAME=
GATE_ORGANIZATION_STATIC=
GATE_VPN_SSL_CERT=
GATE_VPN_SSL_XSIGNED=
GATE_VPN_SSL_PVTKEY=
PRODUCT_LIST=
SECRET_API_KEY=
SECRET_KEY_BASE=
GATE_SAML_IDP_ORGANIZATION_NAME=Go-Jek
GATE_SAML_IDP_ORGANIZATION_URL=https://www.go-jek.com
GATE_SAML_IDP_RESPONSE_EXPIRY=3000
GATE_SAML_IDP_SESSION_EXPIRY=3000
GATE_SAML_IDP_X509_CERTIFICATE=""
GATE_SAML_IDP_SECRET_KEY=""
GATE_SAML_IDP_FINGERPRINT=
GATE_SAML_IDP_DATA_DOG_SSO_URL=
GATE_SAML_IDP_DATA_DOG_METADATA_URL=
ENABLE_SAML=false
NEWRELIC_LICENSE_KEY=""
NEWRELIC_APP_NAME="Gate"
NEWRELIC_AGENT_ENABLED=false
