GATE_OAUTH_CLIENT_ID: ''
GATE_OAUTH_CLIENT_SECRET: ''
GATE_HOSTED_DOMAIN: ''
GATE_SERVER_URL: ''
GATE_CONFIG_SECRET: ''
GATE_EMAIL_DOMAIN: ''
GATE_HOSTED_DOMAINS: 'go-jek.com'
USER_ROLES: 'employee,consultant'
PRODUCT_LIST: ''
CACHE_PORT: ''
CACHE_HOST: ''
GATE_DB_HOST: ''
GATE_DB_PORT: ''
GATE_DB_USER: ''
GATE_DB_PASSWORD: ''
DEFAULT_HOST_PATTERN: 's*'
UID_BUFFER: 5000
SAML_APPS: 'datadog'
GATE_URL: 'https://gate.gojek.co.id/'
