default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  host: <%= ENV['GATE_DB_HOST'] %>
  port: <%= ENV['GATE_DB_PORT'] %>
  username: <%= ENV['GATE_DB_USER'] %>
  password: <%= ENV['GATE_DB_PASSWORD'] %>


development:
  <<: *default
  database: gate_development
  host: localhost
  post: 3306
  username: gate_development
  password: password
  properties:
    useSSL: false

test:
  <<: *default
  database: gate_test
  host: localhost
  post: 3306
  username: gate_test
  password: password
  properties:
    useSSL: false

integration:
  <<: *default
  database: <%= ENV['GATE_DB_NAME'] %>

production:
  <<: *default
  pool: 16
  database: <%= ENV['GATE_DB_NAME'] %>
